@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

body{
    font-family: 'Josefin Sans', cursive!important;
}

.header-container{
    width: 100%;
    height: 100vh;
    background: url('/images/banner.jpg');
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.front-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgb(30 11 1 / 95%);
}

.front-background .noela-logo-container img{
    width: 185px;
    position: absolute;
    margin: 3px 40px;
}

.front-background .btn-success{
    position: fixed;
    right: 0;
    margin: 10px;
}


.title-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    flex-direction: column;
    text-align: center;
}

.title-button-container .virtual-assistant-container{
    overflow: hidden;
}

.title-button-container .virtual-assistant-container form{
    margin-bottom: 20px;
}

.title-button-container .virtual-assistant-container form .header-title-backoffice{
    background: transparent;
    width: 799px;
    color: #fff;
    text-align: center;
    font-size: 53px;
    color: #FFFFFF;   
    font-weight: bold;
    text-align: center;    
    letter-spacing: -3px;
    text-shadow: 1px 1px 4px #000;   
    border: none;
}

.title-button-container .virtual-assistant-container form .header-title-backoffice:focus{
    box-shadow: none;
}


.title-button-container .virtual-assistant-container form .header-title-backoffice::placeholder{
    color: #A4A4A4;
    text-align: center;
}


.title-button-container h1{
    font-size: 81px;
    color: #FFFFFF;   
    font-weight: bold;
    text-align: center;    
    letter-spacing: -3px;
    text-shadow: 0 0 80px rgb(14 4 4 / 50%);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite; 
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.button-download-cv-container{
    text-align: center;
}

.button-download-cv-container button{
    background: transparent;
    color: #fff;
    padding: 19px;
    border-radius: 36px;
    font-size: 17px;
    font-weight: bold;
    border: 3px solid #ffff;
}

.button-download-cv-container button:hover{
    background: #fff;
    border: 3px solid #ffff;
    color: #000;
}

.about-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container .who-i-am-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container .who-i-am-container h1 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.about-container .who-i-am-container hr {
    width: 123px;
    border-top: solid 1px #000;
}

.about-container .hello-image-noela-container{
    display: flex;
    width: 100%;
    background: #fff;
    padding: 39px;
    justify-content: center;
}


.about-container .hello-image-noela-container .image{
    margin-right: 20px;
} 

@media screen and (max-width: 648px) {
    .about-container .hello-image-noela-container{
        border-radius: 0;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 648px) {
    .about-container .hello-image-noela-container .image{
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
    } 
}


.about-container .hello-image-noela-container .image img{
    width: 197px;
}

.about-container .hello-image-noela-container .about-her{
    text-align: justify;
}

.about-container .hello-image-noela-container .about-her p:first-child{
    font-size: 26px;
    font-weight: bold;
}

.about-container .hello-image-noela-container .about-her p .about-title-backOffice{
    font-size: 19px;
    font-weight: bold;
    border: none;
}
.about-container .hello-image-noela-container .about-her p .about-content-backOffice{
    font-size: 17px;
    color: #A4A4A4;
    height: 100%;
    border: none;
}

.about-container .hello-image-noela-container .about-her p .about-title-backOffice, .about-content-backOffice{
    box-shadow: none;
}


.about-container .hello-image-noela-container .about-her p:last-child{
    font-size: 17px;
    color: #A4A4A4;
}

