.loading-container-show-loading{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
    background-color: rgb(85 23 0 / 80%);
}

.loading-container-show-loading img{
    width: 250px;
}

.rotate{
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.loading-container-hide-loading {
    display: none;
}